body {
    background: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.outer {
    height: 80%;
    width: 80%;
    background: rgb(234, 223, 7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner {
    height: 80%;
    width:80%;
    background: rgb(94, 6, 165);
    position: relative;
}
.circle {
    height: 100px;
    width:100px;
    background: rgb(65, 234, 192);
    
    position: absolute;
}
.top {
    top: 0;
    border-radius: 5px 0px 5px 40px;
}

.left{
    left: 0;
    border-radius: 0px 5px 40px 5px;
}

.lower {
    bottom: 0;
    border-radius: 5px 40px 5px 0px;
}

.right {
    right: 0;
    border-radius: 40px 5px 5px 0px;
}